@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-black: #0E100F;
  --primary-white: #FFFCE1;
  --primary-grey: #7C7C6F;
  --color-shockingly-green: #0ae448;
  --seperator-color: #42433D;
}

.container {
  width: 94%;
  margin: auto;
}

.light-link {
  color: var(--primary-grey);
  font-weight: 600;
}

.light-link:hover {
  color: var(--primary-white);
  transition: 0.5s;
}

@font-face {
  font-display: block;
  font-family: Mori;
  font-style: normal;
  font-weight: 400;
  src: url(https://gsap.com/fonts/Mori/PPMori-Regular.woff) format("woff");
}

@font-face {
  font-display: block;
  font-family: Mori;
  font-style: normal;
  font-weight: 600;
  src: url(https://gsap.com/fonts/Mori/PPMori-SemiBold.woff) format("woff");
}

html,
body {
  background-color: var(--primary-black);
  color: var(--primary-white);
  font-family: Mori, sans-serif;
  font-size: 18px;
}

::selection {
  color: var(--primary-white);
  background: #0C7A2B;
}

.green-link{
  color: var(--color-shockingly-green);
  font-weight: 500;
}

.green-link:hover{
  text-decoration: underline;
}

.card{
  border: 2px solid var(--primary-grey);
  border-radius: 16px;
  padding: 16px 24px;
  max-width: 360px;
  max-height: 500px;
  cursor: pointer;
}

.card:hover{
  transition: 0.5s;
}

